<form action="<%= users_url %>" method="post">
  <%= input_auth_token %>
  e-mail <input type="text" name="user[email]" value="">
  password <input type="text" name="user[password]" value="">
  <input type="submit" value="SIGN UP!">
</form>
