WELCOME TO BAND CREATE PAGE
<form action= <%= bands_url %> method="post">
  <%= input_auth_token %>
Enter band name<input type="text" name="band[name]" value="">
<input type="submit" value="create">
</form>
