<form action="/users" method="post">
  user name<input type="text" name="user[user_name]" value="">
  password<input type="text" name="user[password]" value="">
  <input type="submit" value="Login">
</form>
